[Unit]
Description=NuvlaEdge Service
After=network.target

[Service]
ExecStart=EXEC_PATH_PLACEHOLDER
Environment=NUVLAEDGE_SETTINGS=SETTINGS_PATH_PLACEHOLDER
Restart=always
User=USER_PLACEHOLDER
Group=GROUP_PLACEHOLDER
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=WORKING_DIR_PLACEHOLDER

[Install]
WantedBy=multi-user.target
